<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet"/>
    <title>Recueil d'exercices interactif</title>
  </head>
  <body>
    <h1 class="centerflex" style="margin-bottom:18%">Recueil d'exercices interactif</h1>
    <div class="centerflex">
      <img src="{{url_for('static',filename='accueil_notes.svg')}}" style="margin-bottom:18%"/>
    </div>
    <h2><a class="centerflex" href="{{url_for('routes.login')}}">Connexion</a></h2>
  </body>
</html>
