<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet"/>
    <title>Connection</title>
  </head>
  <body>
    <header class="centerflex" style="margin-bottom:16%">
      <h1>Connection</h1>
    </header>

    <h2 class="centerflex">Veuillez entrer votre nom d'utilisateur</h2>
    <form action="" method="post">
      <div class="centerflex">
        <input name="username" type="text" value=""/>
      </div>
      <div class="centerflex">
        <input name="submit" type="submit" value="Confirmer"/>
      </div>
    </form>
    <div class="centerflex">
      <p>S'il s'agit de votre première connection, un compte sera créé pour vous</p>
    </div>
  </body>
</html>
