<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link href="../static/style.css" rel="stylesheet"/>
    <title>Tableau de bord</title>
  </head>
  <body>
    <header class="centerflex" style="margin-bottom:8%">
      <h1>Bienvenue {{username}}</h1>
    </header>
    <div class="centerflex">
      <a class="big_link" href="rand_exercice"><h2>Exercice au hasard</h2></a>
    </div>
    <div class="centerflex">
      <a class="big_link" href="editer_exercice"><h2>Nouvel exercice</h2></a>
    </div>
    <div class="centerflex">
      <a class="big_link" href="vos_exercices"><h2>Consulter vos exercices</h2></a>
    </div>
    <footer>
      <a class="footer_el" href="../deconnection">Déconnection</a>
    </footer>
    </div>
  </body>
</html>
